/* page5_rule.css */

.quiz-guidelines {
    margin: 20px;
    padding: 15px;
    color: aliceblue;
    border-radius: 5px;
  }
  
  .quiz-guidelines h2 {
    font-size: 55px;
    text-align: center;
    margin-right: 150%;
    margin-left: 24%;
    
  }
  
  .quiz-guidelines p {
    font-size: 30px;
    margin-bottom: 0%;
   }
  
   .questions{
    font-size:24px;
    margin-top: 0%;
    margin-bottom:10px;
    margin-left: 25px;
    font-style: inherit;
    padding:4px;
    line-height: 1.5;
   }
 
 .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin: 10px;
    margin-left: 850px;
   }
  .btn:hover {
    background-color: #743075;
}

.anchorpg3 {
  background-color: #72367b;
}

  /* Video styling */
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  
  
  