.hero {
    margin: 0 auto; /* This will center the div horizontally */
    max-width: 800px; /* You can adjust the max-width as per your design */
    position: relative; /* Ensure proper positioning */
    height: 100vh; /* Set the height to viewport height */
}

/* Additional styles for centering the content inside the .hero div */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Additional styles for video element */
#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-color: #110110;
}

/* Additional styles for centering the text at the bottom */
.hero h1 {
    position: absolute;
    top: 33%;
    
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.5rem; /* Adjust the font size as needed */
    color: white; /* Text color */
    text-align: center; /* Center the text horizontally */
    top: 70;
    margin-bottom: 0px; /* Add some bottom margin for spacing */
}


.hero h2, .btn {
    position: relative;
    top: 300px; /* Adjust this value to fit your design */
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}


/* Style for the button */
.btn {
    display: inline-block;
    background-color: #713b6ef3; /* Button background color */
    color: white; /* Button text color */
    padding: 10px 20px; /* Button padding */
    font-size: 1.2rem; /* Button font size */
    text-decoration: none; /* Remove underline */
    border: none; /* Remove border */
    border-radius: 20px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.btn:hover {
    background-color: #cd8ac3; /* Darker color on hover */
}
